inputs_def:
  - handle: input
    description: The binary content of the image to be translated
    json_schema:
      type: string
      ui:widget: file
  - handle: target_language
    description: translated language
    json_schema:
      enum:
        - CHS
        - CHT
        - CSY
        - NLD
        - ENG
        - FRA
        - DEU
        - HUN
        - ITA
        - JPN
        - KOR
        - PLK
        - PTB
        - ROM
        - RUS
        - ESP
        - TRK
        - UKR
        - VIN
        - CNR
        - SRP
        - HRV
        - ARA
        - THA
        - IND
      ui:options:
        labels:
          - 简体中文
          - 繁體中文
          - Čeština
          - Nederlands
          - English
          - Français
          - Deutsch
          - Magyar
          - Italiano
          - 日本語
          - 한국어
          - Polski
          - Português
          - Română
          - Русский
          - Español
          - Türkçe
          - Українська
          - Tiếng Việt
          - Crnogorski
          - Српски
          - Hrvatski
          - العربية
          - ไทย
          - Bahasa Indonesia
    nullable: false
  - group: more
    collapsed: true
  - handle: source_language
    description: The source language of the image, if set to auto, it will be
      automatically recognized
    json_schema:
      enum:
        - auto
        - CHS
        - CHT
        - CSY
        - NLD
        - ENG
        - FRA
        - DEU
        - HUN
        - ITA
        - JPN
        - KOR
        - PLK
        - PTB
        - ROM
        - RUS
        - ESP
        - TRK
        - UKR
        - VIN
        - CNR
        - SRP
        - HRV
        - ARA
        - THA
        - IND
      ui:options:
        labels:
          - auto
          - 简体中文
          - 繁體中文
          - Čeština
          - Nederlands
          - English
          - Français
          - Deutsch
          - Magyar
          - Italiano
          - 日本語
          - 한국어
          - Polski
          - Português
          - Română
          - Русский
          - Español
          - Türkçe
          - Українська
          - Tiếng Việt
          - Crnogorski
          - Српски
          - Hrvatski
          - العربية
          - ไทย
          - Bahasa Indonesia
    value: auto
  - handle: device
    description: Whether to use hardware acceleration (CUDA) to recognize images,
      otherwise only use the CPU
    json_schema:
      enum:
        - cuda
        - cpu
      ui:options:
        labels:
          - CUDA
          - CPU
    value: cuda
  - handle: llm
    json_schema:
      ui:options:
        title: Model
        tags:
          - text
        excludeTags:
          - thinking
      ui:widget: llm::model
    value:
      model: deepseek-chat
      temperature: 0.5
      top_p: 1
      max_tokens: 8100
outputs_def:
  - handle: output
    description: Translated image binary content
    json_schema:
      type: string
      ui:widget: file
  - handle: ext
    description: Extension indicating the type of translated image
    json_schema:
      enum:
        - .jpeg
        - .png
        - .gif
        - .bmp
        - .tiff
        - .webp
      ui:options:
        labels:
          - JPEG
          - PNG
          - GIF
          - BMP
          - TIFF
          - WEBP
ui:
  default_width: 480.462819427952
executor:
  name: python
  options:
    spawn: false
    entry: __init__.py
title: Translate manga page
description: translate a manga page image
